body {
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100%;
    position: relative;
    margin: 0;
}

h1{
    font-size: 28px;
    color: #1e90ff;
}
h2{
    font-size: 22px;
    color: #0059b3;
}
h3{
    font-size: 18px;
}

/*.container{
    margin-right: 40rem;
    margin-left: 40rem;
}

*/
.card{
    margin-right: 5rem;
    margin-left: 5rem;
}

.inside-div{
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: #f9f9f9fe;
    text-align: center;
}

.header-div {
    max-height: 225px;
}

.templateBacking{
     width: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

.mainHead{
    background: url("../img/header_background.png");
    height: 250px;
    width: 100%;
    background-size: cover !important;
    margin: 0;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.footer-basic {
    background-color: #ecececff;
    bottom: 0;
    width: 100%;
    display: block;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.footer-company-name{
  text-align: right;
}

.carousel-div{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-left: 2rem;
}

.title-div{
    padding-left: 4rem;
}

.buttoncolor{
    background: #ff6600ff;
    color: #ffffff;
 }

.image-align{
    align-content: center;
}


@media only screen and (min-width:2400px){
    p{
        font-size: 28px;
    }
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 34px;
    }

    .col-md-8 {
        width: 100%;
    }
    .mainHead{
        height: 330px;
    }
    .header-div {
        margin-top: 7rem;
        margin-left: 8rem;
        width: 65%;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
        margin-left: 5rem;
    }

    .carousel-div{
        float: left;
        margin-left: 20rem;
        width: 15%;
    }

}


@media only screen and (min-width:1800px){
    .header-div {
        margin-top: 1.5rem;
        margin-left: 8rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        margin-left: 1rem;
        width: 15%;
    }

    .footer-basic {

    }
}

@media only screen and (max-width: 1440px) {
     .header-div {
        margin-top: 2rem;
        margin-left: 8rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        margin-left: 1rem;
        width: 20%;
    }

}

@media only screen and (max-width: 960px) {
    h1{
        font-size: 24px;
        color: blue;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }


    .mainHead{

    }

    .header-div {
        margin-top: 6rem;
        margin-left: 3rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        margin-left: 5rem;
        width: 22%;
    }

}

@media only screen and (max-width: 640px) {
    h1{
        font-size: 24px;
        color: blue;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }


    .move_div{
        width: 100%;
        text-align: center;
    }

    .footer-company-name{
        text-align: center;
        font-size: x-small;
    }

    .mainHead{

    }

    .header-div {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        margin-left: 2rem;
        margin-top: 1rem;
        width: 33%;
    }

}

@media only screen and (max-width: 480px) {
    h1{
        font-size: 22px;
        color: blue;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 13px;
    }


    .move_div{
        width: 100%;
        text-align: center;
    }

    .footer-company-name{
        text-align: center;
        font-size: x-small;
    }

    .mainHead{

    }

    .header-div {
        padding-top: 6rem;
        padding-left: 3rem;
    }

    .title-div{
        float: left;
        width: 65%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        padding-left: 2rem;
        margin-top: 4rem;
        width: 35%;
    }

}

@media only screen and (max-width: 415px) {
    h1{
        font-size: 22px;
        color: blue;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 13px;
    }


    .move_div{
        width: 100%;
        text-align: center;
    }

    .footer-company-name{
        text-align: center;
        font-size: x-small;
    }

    .mainHead{

    }

    .header-div {
        padding-top: 5rem;
        padding-left: 2rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        padding-left: 1rem;
        margin-top: 3rem;
        width: 32%;
    }

}

@media only screen and (max-width: 350px) {
    h1{
        font-size: 20px;
        color: blue;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 12px;
    }


    .move_div{
        width: 100%;
        text-align: center;
    }

    .footer-company-name{
        text-align: center;
        font-size: x-small;
    }

    .mainHead{

    }

    .header-div {
        padding-top: 5rem;
        padding-left: 1rem;
    }

    .title-div{
        float: left;
        width: 60%;
        padding: 0;
    }

    .carousel-div{
        float: left;
        padding-left: 1rem;
        margin-top: 5rem;
        width: 32%;
    }

}