body {
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100%;
    position: relative;
    margin: 0;
}

h1{
    font-size: 28px;
    color: blue;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}

/*.container{
    margin-right: 40rem;
    margin-left: 40rem;
}

*/
.card{
    margin-right: 5rem;
    margin-left: 5rem;
}

.inside-div{
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: #f9f9f9fe;
}

.header-div {
    max-height: 150px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.templateBacking{
     width: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

.mainHead{
    background: url("../img/header_background.png");
    height: 200px;
    width: 100%;
    background-size: cover !important;
    margin: 0;
}

.footer-basic {
    background-color: #ecececff;
    bottom: 0;
    width: 100%;
    display: block;
}

.footer-company-name{
  text-align: right;
}



@media only screen and (max-width: 500px) {
    h1{
        font-size: 24px;
        color: blue;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }


    .move_div{
        width: 100%;
    }

    .footer-company-name{
        text-align: left;
        font-size: x-small;
    }

    .mainHead{
        height: 400px;
    }

    .header-div {
        max-height: 350px;

    }
}