
$pink: #fd6e72;
$salmon: #FFBCA1;
$purple: #745260;
$teal: #abe7db;
$grey: #74919f;
$cream: #fdf9de;
$black: #333333;
$blue: #4ddbff;

body {
  background-color: $teal;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  height: 100vh;
}

.main {
  .mustache {
    top: 120px;
    left: 300px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    color: $black;
    /* background-color: $black;*/
    box-shadow: 150px 240px 0 0 $black, 300px 240px 0 0 $black;
  }

  .mustache::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 300px;
    border-bottom: solid 180px;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
  }

  .mustache::after {
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 300px;
    border-bottom: solid 180px;
    border-radius: 0 0 100% 0;
    transform: rotate(+40deg);
    transform-origin: left 210px;
  }
  .eyesL {
    margin: 80px 0 0 750px;
    width: 153px;
    height: 153px;
    border: solid 1px #000;
    border-radius: 75% 15%;
    position: absolute;
    transform: rotate(45deg);
  }
  .eyesLPupile {
    position: absolute;
    margin: 80px 0 0 750px;
    width: 85px;
    height: 85px;
    border: solid 1px #000;
    border-radius: 50%;
    left: 32px;
    top: 32px;
    background-color: $blue;
    transform-origin: right 210px;

    animation-delay:2s;
    animation-duration:8s;
    animation-name:eyesLPupilePosition;
    animation-fill-mode:forwards;
  }

  @keyframes eyesLPupilePosition {
    from {
      margin-left:720px;
    }
    80% {
      margin-left:780px;
    }
    to {
      margin-left:750px;
    }
  }
  .eyesR {
    margin: 80px 0 0 350px;
    width: 153px;
    height: 153px;
    border: solid 1px #000;
    border-radius: 75% 15%;
    position: absolute;
    transform: rotate(45deg);
  }
  .eyesRPupile {
    position: absolute;
    margin: 80px 0 0 350px;
    width: 85px;
    height: 85px;
    border: solid 1px #000;
    border-radius: 50%;
    left: 32px;
    top: 32px;
    background-color: $blue;
    transform-origin: right 210px;
    animation-delay:2s;
    animation-duration:8s;
    animation-name:eyesRPupilePosition;
    animation-fill-mode:forwards;
  }
  @keyframes eyesRPupilePosition {
    from {
      margin-left:320px;
    }
    80% {
      margin-left:380px;
    }
    to {
      margin-left:350px;
    }

  }

  .nose {
    position: absolute;
    top: 250px;
    left: 580px;
    width: 80px;
    height: 180px;
    background-color: $salmon;
    border-radius: 50%;
  }

  .mouth {
    top: 380px;
    left: 300px;
    width: 210px;
    height: 10px;
    position: absolute;
    color: $black;
    //background-color: $black;
    box-shadow: 150px 240px 0 0 $black, 300px 240px 0 0 $black;
  }
  .mouth::before {
    content: "";
    top: 210px;
    left: 190px;
    width: 100px;
    height: 100px;
    position: absolute;
    color: $black;
    border-bottom: solid 180px;
    border-radius: 0 0 100% 0 ;
    transform: rotate(+90deg);
  }

  .mouth::after {
    content: "";
    top: 210px;
    left: 370px;
    width: 100px;
    height: 100px;
    position: absolute;
    color: $black;
    border-bottom: solid 180px;
    border-radius: 0 0 0 100% ;
    transform: rotate(-90deg);
  }

  .tongue {
    position: absolute;
    top: 675px;
    left: 580px;
    width: 200px;
    height: 51px;
    background-color: $salmon;
    border-radius: 50% ;
    transform: rotate(-10deg);
  }

  #bee{
    position: absolute;
    width: 10%;
    margin-left: -150px;
    margin-top: 250px;
    animation-delay:2s;
    animation-duration:13s;
    animation-name:beePosition;
    animation-fill-mode:forwards;
    z-index: 1;
  }
  @keyframes beePosition {
    from {
      margin-left:-150px;
    }
    to {
      margin-left:1800px;
    }
  }

}
